{% extends "base.html" %}
{% load staticfiles i18n format_currency %}

{% block body %}

    <div class="container-fluid">
        <div class="col-md-8">
            <h3>{% trans "Tool usage costs due this month" %}</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Ref. no." %}</th>
                        <th>{% trans "Date &amp; time" %}</th>
                        <th>{% trans "Tool" %}</th>
                        <th>{% trans "Cost" %}</th>
                    </tr>
                    {% for u in tool_usages %}

                    <tr>
                        <td>{{u.pk}}</td>
                        <td>{{u.usage_end | date:"SHORT_DATETIME_FORMAT"}}</td>
                        <td>{{u.tool.title}}</td>
                        <td>{{u.cost | format_currency}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" class="text-right">
                            <strong>{% trans "Total:" %}</strong></td>
                        <td>{{tool_usage_total.cost__sum | format_currency}}</td>

            </table>
        
        </div>
        <div class="col-md-4">
            <h3>{% trans "Last visits" %}</h3>
            <ul class="list-unstyled">
                {% for e in zone_usages %}
                    <li>{{e.created_datetime | date:"SHORT_DATETIME_FORMAT" }}</li>
                {% endfor %}
            </ul>
        
        
        
        
        </div>
    </div>
{% endblock %}
