Sveiks {{ user.first_name }}, <br/><br/>

MAKE Rīga pastāvēšana ir iespējama tikai pateicoties biedru ziedojumiem.<br/>

Tu tiec aicināts ziedot {{ recommended_amount }}, lai MAKE Rīga durvis turpinātu palikt atvērtas!<br/><br/>

Ziedojumu iespējams veikt uz sekojošu norēķinu kontu, vai arī personīgi, ierodoties MAKE Rīga telpās.<br/><br/>

<strong>Nodibinājums "ATVĒRTĀ DARBNĪCA MAKE RĪGA"</strong><br/>
<strong>Reģ. Nr.</strong> 40008230679<br/>
<strong>Konta Nr.</strong> LV20HABA0551039313660<br/>
<strong>Banka:</strong> A/S Swedbank<br/><br/><br/>



Ar cieņu,<br/>
MAKE Rīga komanda<br/><br/>

<hr/>
<p style="font-size:0.5em;">
Lai atteiktos no šo atgādinājumu saņemšanas un izslēgtu sevi no MAKE Rīga biedru saraksta,
lūdzu sazinies ar <a href="mailto:hello@makeriga.org">hello@makeriga.org</a>.
</p>
