.nav span.hello {
    display: block;
    line-height: 22px;
    margin: 12px 6px;
    padding: 8px 12px;
}

/* Tooltip container */
.mtooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.mtooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
	opacity: 0.8;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mtooltip:hover .tooltiptext {
    visibility: visible;
}
